<h1>New user</h1>
<form action="<%= users_url %>" method="post">
    <%= auth_token %>
    <input type="text" name="user[username]" placeholder="Username" value="<%= @user && @user.username ? @user.username : '' %>">
    <br>
    <input type="text" name="user[password]" placeholder="Password" value="<%= @user && @user.password ? @user.password : '' %>">
    <br>
    <input type="submit" value="Create new user">
</form>

<div class="errors">
  <% if flash.now[:errors] %>
    <p><%= flash.now[:errors] %></p>
  <% end %>
</div>
