<% content_for :header do %>
  <div class="sec-header">
    <div>
      <h1>Sign up!</h1>
    </div>
  </div>
<% end %>
<div class="new">
  <form action="<%= users_url %>" method="post">
      <%= auth_token %>
      <input type="text" name="user[username]" placeholder="Username" value="<%= @user && @user.username ? @user.username : '' %>">
      <br>
      <br>
      <input type="text" name="user[password]" placeholder="Password" value="<%= @user && @user.password ? @user.password : '' %>">
      <br>
      <br>
      <input type="submit" value="Create new user">
  </form>
</div>

<br>
<div class="new-user">
  <%= link_to 'Existing user? Log in!', new_session_url %>
</div>

<% if flash.now[:errors] %>
  <br>
  <div class="errors">
    <p><%= flash.now[:errors] %></p>
  </div>
<% end %>
