<h1 style="text-align: center;">Add a new post</h1>
<div class="new">
    <form action="<%= posts_url %>" method="post">
    <%= auth_token %>
    <input type="text" name="post[heading]" placeholder="Heading" value="<%= @post && @post.heading ? @post.heading : '' %>">
    <br>
    <br>
    <% if @post && @post.description %>
      <textarea name="post[description]" rows="8" cols="80" placeholder="Description"><%= @post.description %></textarea>
    <% else %>
      <textarea name="post[description]" rows="8" cols="80" placeholder="Description"></textarea>
    <% end %>
    <br>
    <br>
    <input type="submit" value="Add a code snippet to this post">
  </form>
</div>

<% if flash.now[:errors] %>
  <br>
  <div class="errors">
    <h2><%= flash.now[:errors] %></h2>
  </div>
<% end %>
