<h1><%= @post.heading %></h1>

<div class="desc">
  <p><%= @post.description %></p>
</div>

<div class="snippet">
  <pre style="background: rgb(45, 45, 45); color: white; width: 500px; border-radius: 12px;">
    <code>
      <%= @post.beautify_snippet %>
    </code>
  </pre>
</div>

<% if current_user.id == @post.user_id %>
  <div class="creator_options">
    <form class="" action="<%= edit_post_url %>" method="get">
      <%= auth_token %>
      <input type="submit" value="Edit post">
    </form>

    <form class="" action="<%= post_url %>" method="post">
      <%= auth_token %>
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete post">
    </form>
  </div>
<% end %>
