<!DOCTYPE html>
<html>
  <head>
    <title>CodingExamplesApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <header>
      <% if yield(:header).length == 0 %>
        <div class="main-header">
          <div class="home">
            <h1><%= link_to 'Home', '/home' %></h1>
          </div>

          <div class="user-info">
             <h1><%= current_user.username %></h1>
             <%= button_to 'Log in', new_session_url, method: 'get' %>
           </div>
        </div>
      <% else %>
        <%= yield(:header) %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
