<!DOCTYPE html>
<html>
  <head>
    <title>CodingExamplesApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <header>
      <% if yield(:header).length == 0 %>
        <div class="main-header">
          <div class="home">
            <%= link_to 'Home', '/home' %>
          </div>
          <div class="user-info">
             <p><%= current_user.username %></p>
             <form action="<%= new_session_url %>" method="get">
               <input type="submit" value="Log in">
             </form>
           </div>
        </div>
      <% else %>
        <%= yield(:header) %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
